In [1]:
import pandas as pd
import numpy as np

#### Подключение к бд и заливка данных

In [2]:
import sqlalchemy
import pyodbc
import warnings
warnings.filterwarnings('ignore')

In [3]:
conn = pyodbc.connect('DSN=TestDB;Trusted_Connection=yes;')

In [4]:
def select(sql):
  return pd.read_sql(sql,conn)

In [5]:
sql = '''drop table if exists Employee
create table Employee(Id int, Salary int)
insert into Employee(Id, Salary) values (1, 100)
insert into Employee(Id, Salary) values (2, 200)
insert into Employee(Id, Salary) values (3, 300)
'''

поставим ; после каждой строки:

In [6]:
sql = ';\n'.join(sql.split('\n'))
print(sql)

drop table if exists Employee;
create table Employee(Id int, Salary int);
insert into Employee(Id, Salary) values (1, 100);
insert into Employee(Id, Salary) values (2, 200);
insert into Employee(Id, Salary) values (3, 300);

# 8. Заключение

## 2. Где тренироваться

https://sql-ex.ru/

https://leetcode.com/ - платный (дорогой)

<a href="https://stepik.org/course/63054/promo">
   Интерактивный тренажер по SQL · Stepik</a>